{% extends 'ads/base.html' %}

{% block title %}MyBarter{% endblock %}

{% block content %}

{% include 'ads/header.html' %}

<div class="row text-center">
    {% for ad in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <!-- Обертка с фиксированным соотношением сторон -->
            <div style="position: relative; width: 100%; padding-top: 100%; overflow: hidden;">
                <img src="/media/{{ ad.image_url }}"
                     style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="card-header"
                 style="height: 100px; display: flex; align-items: center; justify-content: center;">
                <h4 class="my-0 font-weight-normal">{{ ad.title | truncatechars:45 }}</h4>
            </div>
            <div class="card-body">
                <p style="height: 70px; display: flex; align-items: center; justify-content: center;">
                    {{ ad.description | truncatechars:130 }}
                </p>
                <p class="card-text"><small class="text-body-secondary">
                    {{ ad.category }}, {{ ad.get_condition_display }}
                </small></p>
                <a href="{% url 'ads:ad-detail' ad.pk %}"
                   class="btn btn-lg btn-block btn-outline-primary m-1">Подробнее</a>
            </div>
        </div>
    </div>

    {% endfor %}

    <div class="justify-content-center pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-primary" href="?page=1"><<</a>
      <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}

    <span class="current">
      [{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}]
    </span>

    {% if page_obj.has_next %}
      <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">></a>
      <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">>></a>
    {% endif %}
  </span>
    </div>

</div>
{% endblock %}